@tailwind base;
@tailwind components;
@tailwind utilities;

/* #headings {
  color: red;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
 
}
.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
.rest-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.rest-card{
    border: 1px solid #000;
    width: 200px;
    margin: 25px;
    padding: 20px 20px 20px 20px;
}
.Search{
    padding: 10px;
}
.res-logo{
    width: 200px;
    height: 200px;
}
.resto-container{
    display: flex;
    flex-wrap: wrap;

}

.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}
.shimmer-container{
    display: flex;
    flex-wrap:wrap;
  
}
.filter-btn{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}
.login{
    padding: 0px 20px;
    margin: 10px;
    cursor: pointer;
}
.serch-btn{
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border-radius: 5px;
    margin: 10px;
    padding: 9px 20px;
    font-size: 20px;
}
.search-input{
    padding-block: 10px;
    padding-inline: 0px;

}
.card{
    padding: 10px;
    border: 1px solid;
    color: black;
    margin-top: 10px;

} */